body {
  background-color: white;
}

.rounded {
  transition: all 0.2s;
}

.rounded:active {
  opacity: 0.7;
}

.custom-notification {
  transition: all 0.3s;
  position: fixed;
  opacity: 0;
  top: 0rem;
  left: 1rem;
  right: 1rem;
}

.custom-notification.active {
  opacity: 1;
  transform: translateY(4rem);
}
